# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Flutter/Dart
criclive/.dart_tool/
criclive/.packages
criclive/build/
criclive/.flutter-plugins
criclive/.flutter-plugins-dependencies
criclive/.metadata
criclive/pubspec.lock

# Android
criclive/android/.gradle/
criclive/android/local.properties
criclive/android/key.properties

# iOS
criclive/ios/Pods/
criclive/ios/.symlinks/

# Node.js
backend/node_modules/
backend/.env
